.DS_Store
pkg/*
scratch_directory/*
sandbox/*
tmp/*
*.gem
.bundle
Gemfile.lock
gemfiles/*.lock
rdoc/*
TODO
ISSUES
DONATE
SPECS.txt
.yardoc/*
doc/*
*.swp
*.un~
*~
*.rbc
*.profile
*.profile.pdf
*.symbols
.idea
gem-private_key.pem
examples
