language: ruby
bundler_args: --without development
matrix:
  include:
    - rvm: 1.9.3
    - rvm: ruby-head
    - rvm: jruby-19mode
      jdk: oraclejdk7
      env: JRUBY_OPTS="-Xmx512m -Xcompile.invokedynamic=false"
    - rvm: jruby-19mode
      jdk: openjdk7
      env: JRUBY_OPTS="-Xmx512m -Xcompile.invokedynamic=false"
    - rvm: jruby-head
      jdk: oraclejdk7
      env: JRUBY_OPTS="-Xcompile.invokedynamic=false"
    - rvm: jruby-head
      jdk: openjdk7
      env: JRUBY_OPTS="-Xcompile.invokedynamic=false"
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
      jdk: oraclejdk7
      env: JRUBY_OPTS="-Xcompile.invokedynamic=false"
    - rvm: jruby-head
      jdk: openjdk7
      env: JRUBY_OPTS="-Xcompile.invokedynamic=false"
