language: ruby

sudo: false

bundler_args: --without development

rvm:
  - 2.2.2
  - 2.3.0
#  - jruby-9.0.5.0

gemfile:
  - Gemfile
  - gemfiles/rails5master.gemfile
  - gemfiles/rails5beta3.gemfile

env:
  global:
    - CI="travis"
    - JRUBY_OPTS="--server -J-Xms512m -J-Xmx1024m"
  matrix:
    - MONGODB=2.4.14
    - MONGODB=2.6.11
    - MONGODB=3.0.7
    - MONGODB=3.2.0

before_script:
  - wget http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-${MONGODB}.tgz -O /tmp/mongodb.tgz
  - tar -xvf /tmp/mongodb.tgz
  - mkdir /tmp/data
  - ${PWD}/mongodb-linux-x86_64-${MONGODB}/bin/mongod --dbpath /tmp/data --bind_ip 127.0.0.1 --auth &> /dev/null &

notifications:
  email: false
  irc:
    on_success: change
    on_failure: always
    channels:
      - "irc.freenode.org#mongoid"
